<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener class-name="utilities.ExtentReportlistners"></listener>
	</listeners>


  <test thread-count="5" name="Test">
    <classes>
    <class name="base.authenticate"/>
      <class name="testcases.get_method"/>
      <class name="testcases.post_method"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
